.chars{
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-around;
}
.picture{
    height: auto;
    overflow: hidden;
    width: 20rem;
    background-color: white;
    border-radius: 5rem !important;
    border: solid 1px rgba(0,0,0,0.25);
}
.in-picture{
    width: 100%;
    height: auto;
}
.select{
    width: 100%;
    display: flex;
    justify-content: center;
}
